 .scanpage {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
 }

 .barcode {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
 
   &__hero {
     margin: 20px auto;
     padding: 0 24px;
     text-align: center;
     h3 {
       padding-bottom: 9px;
       font-size: 20px;
     }
     p {
       padding-bottom: 9px;
       font-size: 14px;
       color: rgb(129, 140, 151);
     }
   }
 
   &__close {
     width: 375px;
     display: flex;
     justify-content: flex-end;
     img {
       margin: 5px 15px 0px 0px;
     }
   }
 
   &__cam {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100%;
     width: 50%;
 
     video {
       width: 300px;
       border: 15px solid silver;
       border-radius: 15px;
     }
   }
 
   &__buttons {
     padding: 30px;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     height: 100%;
     width: 375px;
   }
   p {
   
     font-size: 14px;
     color: rgb(129, 140, 151);
   }

   &__option {
    display: flex;
    flex-direction: column;
    align-items: center;

   }
 
   &__btn {
     background: #949494;
     border: 0;
     max-width: 68px;
     max-height: 68px;
     border-radius: 50%;
     p {
   
       font-size: 14px;
       color: rgb(129, 140, 151);
     }
 
     img {
       padding: 10px;
       width: 48px;
     }

     &.active {
      background: #49e4ff;
  
      img {
        -webkit-filter: invert(100%);
        filter: invert(100%);
      }
    }
   }
   
 }
 