.contact__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  .nav {
    h3 {
      margin: 0;
      font-size: 21px;
    }

    p {
      margin-top: 20px;
      text-align: justify;
      font-size: 15px;
      color:rgb(155, 154, 154);
    }

  }
}

.contact {

  
    &__errors {
      margin-bottom: 5px;
      text-align: center;
      font-size: 11px;
      font-weight: 500;
      color: rgb(221, 60, 92);
    }

    &__hero {
      width: 290px;
      text-align: center;
  
      h3 {
        margin: 0;
        font-size: 21px;
      }
  
      p {
        margin-top: 20px;
        text-align: justify;
        font-size: 15px;
        color:rgb(155, 154, 154);
      }
    }
  
    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;

    }
  
    &__label {
      display: flex;
      flex-direction: column;
      align-items: center;
 
      padding: 0px;
    }
  
    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
  
      &--input {
        font-size: 14.5px;
        width: 315px;
        height: 62px;
        border: 0;
        border-bottom: 1px rgb(200, 200, 200) solid;
      }
    }
    
    &__skip {
      margin-top:10px;
        font-size:12px;
        font-weight: 600;
        color: rgba(0, 217, 255, 0.924);
        text-decoration: none;
      
    }

    &__button {
      margin-top: 10px;
      height: 50px;
      width: 325px;
      font-size: 17px;
      font-weight: bold;
      color: white;
      background-color: #26c7dc;
      cursor: pointer;
      border-radius: 7px;
      border: none;
    }

    &:disabled{
      background-color: silver;
    }

    
  
  }
  