
.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;


  h3 {
    margin: 0;
    text-align: center;
    font-size: 21px;
  }
  h5{
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
  }


  &__errors {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: rgb(221, 60, 92);

  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  &__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    input {
      visibility: hidden;
      height: 0;
      width: 0;
    }

    img {
      margin:34px;
      width: 80px;
      border: 2px solid rgb(64, 192, 224);
    border-radius: 50%;
    }
    
  }

  &__label {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 10px;

    &--input {
      font-size: 14.5px;
      width: 315px;
      height: 62px;
      border: 0;
      border-bottom: 1px rgb(200, 200, 200) solid;
    }
  }

  &__button {
    height: 45px;
    width: 325px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: silver;
    cursor: pointer;
    border-radius: 7px;
    border: none;
  }

}
