
.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;

  h3 {
    margin: 0;
    text-align: center;
    font-size: 21px;
    
  }
  &__errors {
    margin-bottom: 5px;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    color: rgb(221, 60, 92);
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
  }

  &__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;

    &--input {
      font-size: 14.5px;
      width: 325px;
      height: 66px;
      border: 0;
      border-bottom: 1px rgb(200, 200, 200) solid;
    }
  }

  &__button {
    height: 50px;
    width: 325px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: silver;
    cursor: pointer;
    border-radius: 7px;
    border: none;

    &__button:hover{
      background-color: #26c7dc;
    }
  }

}
