.allergen {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: hidden;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }

  &__hero {
    padding: 0 24px;
    text-align: center;
    h3 {
      padding-bottom: 9px;
      font-size: 20px;
    }
    p {
      padding-bottom: 9px;
      font-size: 14px;
      color: rgb(129, 140, 151);
    }
  }
  &__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 250px;
    height: 250px;
  }

  &__letra {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    font-weight: bold;
    color: white;
    background: rgb(192, 192, 192);
    border-radius: 50%;

    a {
      font-weight: bold;
      color: white;
      text-decoration: none;
    }
    &.active {
      background: #f84971;
    }
  }

  &__list {
    margin-bottom: 12px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    max-height: 200px;
  }

  &__capital{
      font-weight: bold;
      color: rgb(105, 105, 105);
      text-decoration: none;
      border-radius: 50%;
    }
    &.active {
      color: white;
      background: #f84971;
      border-radius: 50%;
    }

  &__options {
    margin: 0 5px;

    display: flex;
    flex-wrap: wrap;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(143, 143, 143);
    background: rgb(245, 245, 245);
    border: solid 1px rgb(173, 173, 173);
    border-radius: 100px;
    padding: 0 10px;
    height: 37px;
    margin: 1.5px 3px;
    font-weight: 600;
    font-size: 17px;
    
    &.active{
    background: #f84971;
    color: rgb(255, 255, 255);
    }

  }
/* 
  &__btn:focus{
    background: #f84971;
    color: rgb(255, 255, 255);
  } */

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
  }

  &__save {
    margin-top: 5px;
    height: 50px;
    width: 325px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: rgb(0, 174, 255);
    cursor: pointer;
    border-radius: 9px;
    border: none;
  }
}
