.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;

  &__page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &__hero {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100%;
    margin: 12px 50px;

    h3 {
      margin: 0;
      font-size: 19px;
    }

    p {
      margin: 0;
      font-size: 15px;
    }
  }
  &__errors {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: rgb(221, 60, 92);
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

    p {
      font-size: 13px;
      color: rgba(155, 155, 155, 0.924);
      margin: 5px auto;
    }

    a {
      font-size: 12px;
      margin: 5px auto;
      font-weight: 600;
      color: rgba(0, 192, 226, 0.924);
      text-decoration: none;
    }
  }

  &__regis {
    font-size: 19px;
  }

  &__label {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;

    &--input {
      font-size: 14.5px;
      width: 315px;
      height: 62px;
      border: 0;
      border-bottom: 1px rgb(200, 200, 200) solid;
    }
  }

  &__button {
    height: 45px;
    width: 325px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #26c7dc;
    cursor: pointer;
    border-radius: 7px;
    border: none;

    &:disabled {
      background-color: silver;
    }
  }
}
