.scan-result {
    overflow: hidden;
    width: 216pt;
    height: 216pt;
   
}

.scan-result-unknown {
    display: flex;
    background-image: url("../../../public/images/scan/invalidName_2022-02-10/borderOrange.png");
    background-repeat: no-repeat;
    &:after {
        content:"";
        width: 50px;
        height: 50px;
        background: #fbd292;
        border-radius: 30px;
        margin-top: 25%;
        background-image: url("../../../public/images/scan/invalidName_2022-02-10/invalidName.png");
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
    } 
}

.scan-result-fit {
    display: flex;
    background-image: url("../../../public/images/scan/nounOk1494760_2022-02-10//borderGreen.png");
    background-repeat: no-repeat;
    &:after {
        content:"";
        width: 50px;
        height: 50px;
        background: #83d8ad;
        border-radius: 30px;
        background-image: url("../../../public/images/scan/nounOk1494760_2022-02-10/nounOk.png");
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
    }
}

.scan-result-unfit {
    display: flex;
    background-image: url("../../../public/images/scan/nounX2500114_2022-02-10/borderPink.png");
    background-repeat: no-repeat;
    &:after {
        content:"";
        width: 50px;
        height: 50px;
        background: #fb92aa;
        border-radius: 30px;
        margin-top: 50%;
        background-image: url("../../../public/images/scan/nounX2500114_2022-02-10/nounX2500114.png");
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
    }
}