
.rating {
  
    & svg {
        color: #c7c7c7;
        font-size: 25px;
        cursor: pointer;
        &.clickedstar {
            color: rgb(212, 180, 0);
            }
    }
  
    & div {
        width: 125px;
        margin-top:50px;
    }
  
    & div:hover svg {
        color: rgb(212, 180, 0);
        
    }
  
    & svg:hover~svg {
        color: #c7c7c7;
        
    }
    
  }

