.welcome{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;

img{
    display: block;
    margin: 30px auto;
    
}
p{
    text-align: center;
    }

h5{
    text-align:left;
    position: top;
}
}